<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        <a href="/login">back</a>
        <h1>All data from local SQL database removed.</h1>
        
        
        <script>
            window.sessionStorage.removeItem("admin");
            window.sessionStorage.removeItem("username");
            window.sessionStorage.removeItem("legitLogin");
        </script>

    </body>
</html>
