<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Logout</title>
    </head>
    <body>

        <a href="/login">log back in</a>
        <h1>You have been logged out.</h1>
        
        <script>
            window.sessionStorage.removeItem("admin");
            window.sessionStorage.removeItem("username");
            window.sessionStorage.removeItem("legitLogin");
            console.log("session data cleared, dont worry :)");
        </script>

        <p></p>
    </body>
</html>
