<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todo-list</title>
    </head>
    <body id="core" style="visibility:hidden">
        
        <a style="float:right" href="/logout">Logout</a>


        <div style="display:none">
            <h3>Login details:</h3>
            <span>Admin: </span><span id="admin"></span>
            <br></br>
            <span>Logged in: </span><span id="loggedin"></span>
        </div>

        <p id="adminControls" style="display: none"><a href="/adminpage">Supersecret admin page</a></p>

        <div> 
            <h1>Add new todo</h1>

            <form action="#" th:action="@{/todo}" method="POST">
                <p><label for="content">Todo-content</label>: <input type="text" name="content" id="content"/></p>
                <p><input type="submit" value="Add new todo" /></p>
            </form>
        </div>

        <div>
            <h1>View global list of todos</h1>
            <a href="/todolist">Click here</a>
        </div>


        <script th:inline="javascript">
            var admin = /*[[${admin}]]*/ 'defaultanyvalue';
            var legitLogin = /*[[${legitLogin}]]*/ 'defaultanyvalue';
            var username = /*[[${username}]]*/ 'defaultanyvalue';
            

            


            if (!window.sessionStorage.getItem("legitLogin")) {

                if (!legitLogin) {
                    console.log("You are not supposed to be here!!");
                    window.location.replace("/login");
                }
                if (legitLogin) {
                    window.sessionStorage.setItem("username",username); //Asetetaan talteen käyttäjänimi
                    window.sessionStorage.setItem("legitLogin", true); //Asetetaan tieto siitä, että kirjautuminen todella on legit.
                    document.getElementById("core").style.visibility = "visible"; //Annetaan pääsy todojen luontiin
                }
            } else {
                document.getElementById("core").style.visibility = "visible"; //Jos on legitlogin tiedossa, näytetään todolisäys.
            }


            if (admin) { // Some items should be shown only to admins...
                window.sessionStorage.setItem("admin", true);
            } else {
                window.sessionStorage.setItem("admin", false);
            }

            window.sessionStorage.setItem("loggedin", true);
            document.getElementById("loggedin").textContent = window.sessionStorage.getItem("loggedin");
            document.getElementById("admin").textContent = window.sessionStorage.getItem("admin");


            if(window.sessionStorage.getItem("username") === "admin"){
                console.log("Welcome back administrative person!");
                document.getElementById("adminControls").style.display = "block";
            }

            console.log("Login script ran, sessionstorage admin byte is set to " + window.sessionStorage.getItem("admin"));


        </script>

    </body>
</html>
