<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TodoApp - List</title>
    </head>
    <body id="core" style="visibility:hidden;margin:25px;">

        <a style="float:right;
           text-decoration: none;
           color: black;
           background-color: antiquewhite;
           border: 1px solid;
           padding: 5px;
           border-radius: 2px;
           " href="/leave">Logout
        </a>

        <p id="adminControls"  style="display:none">
            <a
                style="  color: black;
                background-color: antiquewhite;
                border: 1px solid;
                text-decoration: underline;
                padding: 5px;
                border-radius: 2px;" href="/adminpage">Supersecret admin page
            </a>
        </p>

        <div> 
            <h2 style="background-color: green;
                width: 50%;
                color: white;
                padding: 5px;
                text-decoration: underline;">Add new todo</h2>

            <form action="#" th:action="@{/todo}" method="POST">
                <p><label for="content">Todo-content</label>: <input type="text" name="content" id="content"/></p>
                <p><input type="submit" value="Add new todo" /></p>
            </form>
        </div>

        <div>
            <h2 style="background-color: green;
                width: 50%;
                color: white;
                padding: 5px;
                text-decoration: underline;">View global list of todos</h2>
            <a style="text-decoration: none;
               color: black;
               background-color: antiquewhite;
               border: 1px solid;
               padding: 5px;
               border-radius: 2px;
               " href="/todolist">Click here</a>
        </div>


        <script th:inline="javascript">
            var admin = /*[[${admin}]]*/ 'defaultanyvalue';
            var legitLogin = /*[[${legitLogin}]]*/ 'defaultanyvalue';
            var username = /*[[${username}]]*/ 'defaultanyvalue';



            //Tarkistetaan tunnus, jos ei ole tietoa...
            if (!window.sessionStorage.getItem("legitLogin")) {

                if (legitLogin === null) {
                    console.log("You are not supposed to be here!!");
                    window.location.replace("/login");
                }
                else {
                    window.sessionStorage.setItem("username", username); //Asetetaan talteen käyttäjänimi
                    window.sessionStorage.setItem("legitLogin", true); //Asetetaan tieto siitä, että kirjautuminen todella on legit.
                    document.getElementById("core").style.visibility = "visible"; //Annetaan pääsy todojen luontiin
                    window.sessionStorage.setItem("loggedin", true);
                }
            } else {
                //Jos käyttäjä on kirjautunut näytetään sivu...
                document.getElementById("core").style.visibility = "visible"; //Jos on legitlogin tiedossa, näytetään todolisäys.
            }


            if (admin) { // Some items should be shown only to admins...
                window.sessionStorage.setItem("admin", true);
            } else {
                window.sessionStorage.setItem("admin", false);
            }




            if (window.sessionStorage.getItem("username") === "admin") {
                console.log("Welcome back administrative person!");
                document.getElementById("adminControls").style.display = "block";
            }

            console.log("Login script ran, sessionstorage admin flag is set to " + window.sessionStorage.getItem("admin"));


        </script>

    </body>
</html>
